<p-table [rows]="10" [paginator]="true" [value]="rankingUnidades">
  <ng-template pTemplate="body" let-ranking let-ri="rowIndex">
    <tr>
      <th style="width: 25%">
        <div class="ranking" style="border : 1px"><img src="assets/images/rank.png"><span
            class="text-rank-star">{{ri + 1 }}°</span></div>
        <div class="star"><img src="assets/images/start.png"><span
            class="text-rank-star">{{ranking.avgClassificacao}}</span></div>
      </th>
      <th style="font-size: 60%">{{ranking.nome}}</th>
    </tr>
  </ng-template>
</p-table>