<!doctype html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Avaliação Digital</title>
</head>

<body>
  <!-- Header -->
  <div class="row header">
    <div class="col-3 hapvida_logo">
      <img src="assets/images/hapvida_small.png" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-6 text-center">
      <span class="header-center">Avaliação Digital</span>
    </div>
    <div class="col-2 text-center">
      <span class="text-right-login">Administrador</span>
    </div>
    <div class="col-1">
      <div class="logout">
        <a href="#"><img src="assets/images/u84.png"></a>
      </div>
    </div>
  </div>

  <!-- Selects-->
  <div class="container-fluid selects">
    <div class="row">
      <div class="col" style="width: 100%">
        <div class="form-group">
          <label for="exampleFormControlSelect1">FILIAL</label>
          <select (change)="onChange($event.target.value)" class="form-control" id="exampleFormControlSelect1">
            <option style="display:none">
            <option *ngFor="let filial of filialOptions" value="{{filial}}">{{filial}}</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="exampleFormControlSelect1">SERVIÇO</label>
          <select (change)="changeServico($event.target.value)" class="form-control" id="exampleFormControlSelect1">
            <option style="display:none">
            <option *ngFor="let servico of servicoOptions" value="{{servico}}">{{servico}}</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="exampleFormControlSelect1">ESPECIALIDADE</label>
          <select (change)="changeEspecialidade($event.target.value)" class="form-control"
            id="exampleFormControlSelect1">
            <option style="display:none">
            <option *ngFor="let especialidade of especialidadeOptions" value="{{especialidade}}">{{especialidade}}
            </option>

          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="exampleFormControlSelect1">UNIDADE</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option style="display:none">
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="exampleFormControlSelect1">PROFISSIONAL</label>
          <select (change)="changeProfissional($event.target.value)" class="form-control"
            id="exampleFormControlSelect1">
            <option style="display:none">
            <option *ngFor="let profissionais of profissionaisOptions" value="{{profissionais}}">{{profissionais}}
            </option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="exampleFormControlSelect1">PERÍODO</label>
          <p-calendar (onClose)="changePeriodo()" [(ngModel)]="periodo" dateFormat="dd-mm-yy" selectionMode="range"
            [readonlyInput]="true"></p-calendar>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="form-group">
          <button type="button" class="btn btn-primary export-button">Exportar.XLS</button>
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid">
    <div class="row">
      <div class="col gray-bar rounded-left">
        AVALIAÇÕES NO PERÍODO
      </div>
      <div class="col gray-bar rounded-right">
        ATENDIMENTOS NO PERÍODO
      </div>
    </div>
    <div class="row">
      <div class="col-3 avaliacao rounded">
        <h1 class="big-text-2 bolder">
          {{quantidadePeriodo}}
        </h1>
        <ngx-loading [show]="loadingAvaliacoes" [config]="{ backdropBorderRadius: '250  px' }"
          [template]="customLoadingTemplate"></ngx-loading>
      </div>
      <div class="col-3 avaliacao rounded">
        <h1 class="big-text-2">{{ totalAvaliacoes | number : '1.2-2'}}%</h1>
      </div>
      <div class="col avaliacao-right rounded">
        <h1 class="big-text">0</h1>
      </div>
    </div>
  </div>

  <div class="container-fluid unidades-profissionais">
    <div class="row">
      <div class="col gray-bar margin rounded-top">
        <span>UNIDADES </span>
      </div>
      <div class="col gray-bar margin rounded-top">
        PROFISSIONAIS
      </div>
    </div>
    <div class="row">
      <div class="col rounded" style="margin-left: -1.4%">
        <ng-template #customLoadingTemplate>
          <div style="margin-top: 10%"></div>
        </ng-template>
        <ngx-loading [show]="loadingRanking" [config]="{ backdropBorderRadius: '250  px' }"
          [template]="customLoadingTemplate"></ngx-loading>

        <p-table [rows]="10" [value]="rankingUnidades">
          <ng-template pTemplate="body" let-ranking let-ri="rowIndex">
            <tr>
              <th style="width: 25%">
                <div class="ranking" style="border : 1px"><img src="assets/images/rank.png"><span
                    class="text-rank-star">{{ri + 1 }}°</span></div>
                <div class="star"><img src="assets/images/start.png"><span
                    class="text-rank-star">{{ranking.avgClassificacao}}</span></div>
              </th>
              <th style="font-size: 60%">{{ranking.nome}}</th>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <div class="col rounded" style="margin-left: -1.4%">
        <ng-template #customLoadingTemplate>
          <div style="margin-top: 10%"></div>
        </ng-template>
        <ngx-loading [show]="loadingRanking" [config]="{ backdropBorderRadius: '250  px' }"
          [template]="customLoadingTemplate"></ngx-loading>

        <p-table [rows]="10" [value]="rankingUnidadesDecrescent">
          <ng-template pTemplate="body" let-ranking let-ri="rowIndex">
            <tr>
              <th style="width: 25%">
                <div class="ranking" style="border : 1px"><img src="assets/images/rank.png"><span
                    class="text-rank-star">{{ri + 1 }}°</span></div>
                <div class="star"><img src="assets/images/start.png"><span
                    class="text-rank-star">{{ranking.avgClassificacao}}</span></div>
              </th>
              <th style="font-size: 60%">{{ranking.nome}}</th>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <div class="col rounded" style="margin-left: -1.4%">
        <ng-template #customLoadingTemplate>
          <div style="margin-top: 10%"></div>
        </ng-template>
        <ngx-loading [show]="loadingRanking" [config]="{ backdropBorderRadius: '250  px' }"
          [template]="customLoadingTemplate"></ngx-loading>

        <p-table [value]="rankingProfissionais">
          <ng-template pTemplate="body" let-ranking let-ri="rowIndex">
            <tr>
              <th style="width: 25%">
                <div class="ranking" style="border : 1px"><img src="assets/images/rank.png"><span
                    class="text-rank-star">{{ri + 1 }}°</span></div>
                <div class="star"><img src="assets/images/start.png"><span
                    class="text-rank-star">{{ranking.avgClassificacao}}</span></div>
              </th>
              <th style="font-size: 60%">{{ranking.profissional}}</th>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="col rounded" style="margin-left: -1.4%">
        <ng-template #customLoadingTemplate>
          <div style="margin-top: 10%"></div>
        </ng-template>
        <ngx-loading [show]="loadingRanking" [config]="{ backdropBorderRadius: '250  px' }"
          [template]="customLoadingTemplate"></ngx-loading>

        <p-table [rows]="10" [value]="rankingProfissionaisDecrescent">
          <ng-template pTemplate="body" let-ranking let-ri="rowIndex">
            <tr>
              <th style="width: 25%">
                <div class="ranking" style="border : 1px"><img src="assets/images/rank.png"><span
                    class="text-rank-star">{{ri + 1 }}°</span></div>
                <div class="star"><img src="assets/images/start.png"><span
                    class="text-rank-star">{{ranking.avgClassificacao}}</span></div>
              </th>
              <th style="font-size: 60%">{{ranking.nome}}</th>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>

  <!-- Botões pós-ranking -->
  <div class="row">
    <div class="col-6 buttons">
      <button type="button" (click)="showUnidades()" class="btn btn-outline-primary col-12 high-height-btn">VER TODAS AS
        UNIDADES</button>
        <p-toast [style]="{marginTop: '80px'}"></p-toast>
    </div>
    <div class="col-6 buttons">
      <button type="button" (click)="showProfissionais()" class="btn btn-outline-primary col-12">VER TODOS OS PROFISSIONAIS</button>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

</body>

</html>