body{
    height: 1200px;
}

.hapvida_logo{
    padding-top: 0.8%;
    padding-left: 3%;
}

.margin-header{
    margin-top: 3%;
}

.header {
    height: 5%;
    background-color: #0175BF
}

.text-center{
    padding-top: 1%
}

.bold-header{
    color : white;
    font-weight: bold;
}

.header-center{
    color: white; font-weight: bold; font-size: 110%;
}

.header-right{
    /* color: white; font-weight: bold; font-size: 85%; padding-top: 3%; padding-left: 20% */
}

.font-header{
    font-size: 80%
}

.center {
    padding-left: 2%;
}


.logout{
    float:left;
    padding-top: 13px;
    padding-right: 10%
}

.text-right-login{
    color:white;
    float:right;
    font-size: 70%;
    font-weight: bold;
    margin-top:8px
}

.export-button{
    margin-bottom: 8%;
    width: 100%;
    margin-top: 25%
}

.gray-bar{
    background-color: #D7D7D7;
    text-align: center;
}

.avaliacao {
    background-color: #F2F2F2;
    margin-right: 0.3%;
}

.avaliacao-right {
    background-color: #F2F2F2;
}

.big-text{
    margin: 5% 5% 5% 5%;
    font-size: 150%;
    text-align: center;
}

.big-text-2{
    margin: 10% 10% 10% 10%;
    font-size: 150%;
    text-align: center;
}

.bolder  {
    font-weight: bold;
}

.selects{
    margin: 2% 0% 2% 0%
}

.container-fluid{
    width: 99%;
}

.unidades-profissionais{
    margin-top: 3%
}

.margin{
    margin-left: 0.2%
}

.text-ranking{
    font-size: 80%;
    margin: 1.3% 0 0 20% 
}

.text-star{
    font-size: 90%;
    margin: 1.3% 0 0 2%;
}

.ranking{
    float:left; margin: 3% 0% 0% 0%; 
}

.star{
    margin-left: -10%; 
    float: left;
}


.gray-col{
    background-color: #F2F2F2;
}

.text-rank-star{
    font-size: 60%; margin-left: -50%; font-weight: bold
}

.buttons{
    margin-top: 0.3%
}

.satisfacao{
    margin-top: 1%
}

.text-star-satisfacao{
    /* color: white; */
    /* margin-bottom: 10%; */
    position: relative;
}

.classificacao{
    text-align: center
}

.with-margin{
    padding: 2% 0 2% 0 
}

.without-margin{
    margin-left: -1.3%;
    margin-right: -10%;
    width: 100%;
    border:none; display:inline-block;
    
}

.smaller-font{
    font-size: 70%
}

.gray-font{
    color:#868686;
}

.high-height-btn{
    height: 100%
}

.with-margin:hover{
    background-color:rgb(236, 236, 236);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.testing:focus {
    background-color:rgb(236, 236, 236);
}

.nav-item a{
    color:  #b7b7b7
    
}
.nav>li>a:hover,
.nav>li>a:focus {
  background-color: #ededed !important; 
}


.btn-outline-info:not(:disabled):not(.disabled).active, .btn-outline-info:not(:disabled):not(.disabled):active, .show>.btn-outline-info.dropdown-toggle{
}